<template>
  <v-container>
    <v-layout row wrap justify-center>

      <!-- Game Heading -->
      <v-flex xs12>
        <v-row>
          <v-layout justify-center>
            <!-- <h2 class="font-weight-bold mb-3 green--text">
              The Tree Game
            </h2> -->
          </v-layout>
        </v-row>
      </v-flex>
      <!-- End Game Heading -->
       <v-flex xs10>
        <v-row>
            <v-layout justify-center>
                <TreeView/> 
            </v-layout>
        </v-row>
       </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import TreeView from './TreeView';

export default {
    name: 'Dashboard',
    components: {
        TreeView,
    },
    data: () => ({
    })
};
</script>
