<template>

<transition name="modal">
    <div class="modal-mask" v-show="show" @click="$emit('close')">    
        <div class="modal-container" @click.stop="">

            <v-layout>
                <v-flex xs12>
                    <v-card class="pa-5">
                        <v-card-title style="background-color: Tan">
                            <div>
                                <span class="font-weight-light black--text">Edit Factory</span>
                            </div>
                        </v-card-title>
                        <v-form v-model="valid" ref="form" lazy-validation>
                            <div>
                                <v-text-field label="Name" name="name" v-model="factory.name" :rules="nameRules" required></v-text-field>
                                <!-- <v-text-field label="Max Children" name="maxChildren" v-model="factory.maxChildren" :rules="childrenRules"></v-text-field> -->
                            <div>
                                <v-text-field label="Lower Bound #" v-model="factory.lowerBound" :rules="boundRules"></v-text-field>
                                <v-text-field label="Upper Bound #" v-model="factory.upperBound" :rules="boundRules"></v-text-field>
                            </div>
                            
                            </div>
                            <div>
                                <v-layout xs12 justify-center>
                                    <v-btn @submit.prevent @click="updateFactory" :disabled="!valid">Update Factory</v-btn>
                                </v-layout>
                            </div>
                        </v-form>
                    </v-card>
                </v-flex>
            </v-layout>
            
        </div>
    </div>
</transition>
</template>

<script>
import axios from 'axios';

const apiServer = 'http://3.82.128.155:3001';
// const apiServer =  process.env.API_URL || 'http://127.0.0.1:3001'
// const apiServer =  'http://web:3001'

export default {
    name: 'EditFactory',
    props: {
        show: Boolean, 
        factory: {}, 
    },
    data: () => ({
        valid: true,
        name: String,
        maxChildren: Number,
        lowerBound: Number,
        upperBound: Number,

        nameRules: [
            v => !!v || 'Name is required',
            v => (v && v.length > 2) || 'Name must have minimum of three letters',
            v => (v && v.length < 50) || 'Name can not exceed the longest dictionary word',
        ],
        childrenRules: [
            v => (!!v || v >= 0) || 'Must be within 0-15',
            v => (v && v < 16) || 'Must be within 0-15',
        ],
        boundRules: [
            v => (v && v > 0) || 'Must be within 1-1,000,000',
            v => (v < 1000000) || 'Must be within 1-1,000,000',
        ],
    }), //end data()

    methods: {
        updateFactory: function() { // received from props factoryID
            if (this.$refs.form.validate()) {
                return axios({
                    method: 'put',
                    data: {
                        name: this.factory.name,
                        maxChildren: this.factory.maxChildren,
                        lowerBound: this.factory.lowerBound,
                        upperBound: this.factory.upperBound,
                    },
                    url: `${apiServer}/updatefactory/${this.factory._id}`,
                    header: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(() => {                   
                    this.$refs.form.reset();
                    this.$emit("factoryUpdated");
                    this.$emit('close');                
                })
                .catch(() => {
                    // e.preventDefault();
                });
            
            }
            return true;
        },
    }, // end methods:
    
}

</script>

<style scoped>
* {
    box-sizing: border-box;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}

.modal-container {
    width: 500px;
    margin: 100px auto 0;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>