<template>
    <v-layout row wrap justify-center>

    <!-- Flash Cards displayed dynamically -->
    <v-flex xs12>
        <div>
            <v-card >
            <!-- display only for tree root -->
            <v-subheader style="background-color: DarkSeaGreen">
                <div>
                    <span class="font-weight-uppercase black--text">{{tree.name}}</span>
                </div>
                <v-spacer></v-spacer>
                <div>
                    <!-- Button - Add New Factory via Modal view -->
                    <AddFactory :parent=tree :show="showAddModal" @factoryAdded="fetchTree" @close="showAddModal = false"></AddFactory>
                    <v-btn icon @click.prevent="showAddModal = true">
                        <v-icon large>mdi-plus-circle</v-icon>
                    </v-btn>
                </div>
            </v-subheader>

            <!-- traverse factories -->
            <v-flex xs10 v-for="(factory, index) in tree.factories" :key="index">
                <div>
                    <v-card >
                        <v-subheader style="background-color:Tan">
                            <div >
                                <span class="font-weight-heavy black--text">{{factory.name}}</span>
                            </div>
                            <v-spacer></v-spacer>
                            <div >
                                <span class="font-weight-light black--text">({{factory.lowerBound}} - {{factory.upperBound}})</span>
                            </div>
                            <v-spacer></v-spacer>
                            <div v-if=factory.maxChildren>
                                <!-- Button - Edit Factory via Modal view -->
                                <EditFactory :factory=factory :show="showEditModal" @factoryUpdated="fetchTree" @close="showEditModal = false"></EditFactory>
                                <v-btn icon fab v-on:click="showEditModal = true;">
                                    <v-icon medium>mdi-lead-pencil</v-icon>
                                </v-btn>
                            </div>
                            <div>
                                <!-- Button - Delete Factory -->
                                <v-btn icon fab  v-on:click="deleteFactory(factory)">
                                    <v-icon medium>mdi-delete-circle</v-icon>
                                </v-btn>
                            </div>
                        </v-subheader>

                        <!-- traverse children -->
                        <div v-for="(child, index) in factory.children" :key="index">
                            <v-list-item >
                                <v-list-item-content>
                                    <v-list-item-title>
                                        <div >
                                            <span class="font-weight-light black--text">{{child}}</span>
                                        </div>
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </div>

                    </v-card>
                </div>
            </v-flex>
        </v-card>
        </div>
    </v-flex>

  </v-layout>
</template>

<script>

import AddFactory from './AddFactory';
import EditFactory from './EditFactory';
import axios from 'axios';

const apiServer = 'http://3.82.128.155:3001';
// const apiServer =  process.env.API_URL || 'http://express-pdemo:3001';
// const apiServer =  'http://web:3001'


export default {
    name: 'TreeView',
    components: {
        AddFactory,
        EditFactory,
    },
    data: () => ({
        showAddModal: false,
        showEditModal: false, 
        tree: {}
    }),
    mounted() {
        // setInterval(function () {
            this.fetchTree();
        // }.bind(this), 500);
    },
    methods: {
       async fetchTree() {
            return axios({
                method: 'get',
                url: `${apiServer}/trees`,
                responseType:'json',
            })
            .then((response) => {
                 this.tree = response.data[0];
            })
        },

        async deleteFactory(factory) {
            return axios({
                method: 'delete',
                url: `${apiServer}/deletefactory/${factory._id}`,
            })
            .then(() => {
                let index = this.tree.factories.findIndex(x => x._id === factory._id);
                if (index > -1) {
                this.tree.factories.splice(index, 1);
                }     
            })
        },
        passFactory: function() {
                    return function() {
                        this.factory;
                    }
                },
    }, // end methods


}

</script>
