<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline font-weight-light blue--text text-uppercase">
        <span>Tree Hierarchy</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        text
        href="https://www.linkedin.com/in/swetabailwal"
        target="_blank"
      >
        <span class="font-weight-light mr-1">Sweta Bailwal</span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <v-card>
        <Dashboard/>
      </v-card>
    </v-content>

    <!-- Footer -->
    <v-footer color="White" app>
      <v-spacer></v-spacer>    
       <v-btn
        text
        href="https://www.linkedin.com/in/swetabailwal"
        target="_blank"
      >
        <span class="font-weight-light mr-1">SwetaBailwal&copy; 2019</span>
      </v-btn>
    </v-footer>
  </v-app>
</template>

<script>
import Dashboard from './components/Dashboard';

export default {
  name: 'App',
  components: {
    Dashboard,
  },
  data: () => ({
    //
  }),
};
</script>
